# .gitignore

# Datasets
datasets/aracati/data.csv
datasets/aracati/images
datasets/aracati/test
datasets/aracati/train
datasets/aracati/validation

# Executions
executions/

# IDE Preferences
.idea/
